body{
  margin:0;
  text-align: center;
  font-size: 1.6 rem;
  color:#333;
  line-height:1.5;
}
#title{
  font-size: 4rem;
  margin-bottom:0;
}
#img-div{
  background: white;
  padding: 10px;
  margin:0;
}
#image{
  max-width:100%;
  height:auto;
  display:block;
  margin: 0 auto;
}
#img-caption{
  padding: 15px 0px 5px 0px;
}
#info-text{
  margin: 50px 0;
  text-align: center;
}
ul{
  max-width:550px;
  margin: 0 auto 50px auto;
  text-align:left;
  line-height:1.6;
}
li{
  margin: 16px 0;
}
blockquote{
  font-style: italic;
  max-width:545px;
  margin: 0 auto 50px auto;
  text-align:left;
}
a[
color: #477ca7;
]
